:root{
    --primary-color:#e0dde8;
    --secondary-color:#6d5a91;
    --flower-color:#71788c;
    --candle-color:#855a78;
    --thread-color:#251f3c;
    --orange-color:orange;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url(asset/np2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: changeBackgroundColor 4s linear infinite;  
}

/* Define keyframes for background color change */
@keyframes changeBackgroundColor {
    0% { background-color: var(--primary-color); }
    25% { background-color: var(--secondary-color); }
    50% { background-color: var(--flower-color); }
    75% { background-color: var(--candle-color); }
    100% { background-color: var(--thread-color); }
  } 
 


  /* .border-2{
    border: 2px solid black;
} */

#parent-container{
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top:32%;
    /* overflow: auto; */
}

#input-container{
    height: 15%;
    width: 90%;
    margin-top: 5px; 
    display: flex;
    flex-direction: row;
    color: #e0dde8;
    
}

#items-container{
    height: 65%;
    width: 90%;
    /* margin: 0px 20px 20px 20px; */
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#task-count-div{
    height :8%;
    width: 40%;
    margin: 0px 20px 20px 20px;

}

#add-item{
    align-items: center;
}

.fa-circle-plus{
   font-size: 2rem;
   margin-top: 20px;
   color: var(--secondary-color);
   
}

.fa-circle-plus:hover{
    color: var(--thread-color);
}

#input-box{
    height: 80%;
    width: 90%;
    margin-left: 10px;
}

#input-box form{
    height: 100%;
    width: 100%;
}

input[type=text]{
    height: 70%;
    width: 80%;
    font-size: 1rem;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    font-family: cursive;
    margin-left: 10px;
    margin-top: 10px;
}

input[type=text]::placeholder{
    color: var(--primary-color);
    font-family: cursive;
}

input[type="text"]:focus {
    box-shadow: 0 0 20px rgba(109, 90, 145, 1); /* Add box-shadow when focused */
    z-index:1;
}


.item-holder-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    width: 95%;
    margin: 5px;
}

.item-content-class{
    width: 90%;
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 25px;
    font-family: cursive;
    background-color: var(--primary-color);
    padding: 4px;
    color: var(--thread-color);
    
}

.checked{
    text-decoration: line-through var(--candle-color);
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1rem;
    accent-color: var(--primary-color);
    padding: 2px;
}

input[type="checkbox"]:hover{
    box-shadow: 0 0 20px rgba(109, 90, 145, 1);
}

.delete-item-class{
    height: 100%;
    width:10%;
    align-items: center;
}

.fa-circle-minus{
    font-size: 1rem; 
    margin-top: 10px;
    margin-left: 15px; 
    color: var(--candle-color);
}

.fa-circle-minus:hover{
    color: var(--orange-color);
   
}


.total-count-class{
   margin: 10px;
   padding: 2px;
   font-size: 1rem;
   font-family:cursive;
   color: var(--secondary-color);
   font-weight: bolder;
   text-transform:uppercase;
   border:2px solid var(--thread-color);
   margin-left: 10px;
   width: 150px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1080px){
	.fa-circle-minus{
        font-size: 0.8rem;
    }

    input[type=text]{
        height: 50%;
        font-size: 0.8rem;
    }

    .item-content-class{
        font-size: 0.8rem;
    }

    .fa-circle-plus{
        font-size: 1rem;
    }

    
}

@media screen and (max-width: 992px){

 #parent-container{
        height: 40vh;
        top: 35%;
        width: 40vw;
    }

}

@media screen and (max-width: 768px){

    #parent-container{
           height: 30vh;
           top: 38%;
           width: 40vw;
       }

    .total-count-class{
        width: 120px;
        font-size: 0.7rem;
        margin-top:40px;
    }

    .item-content-class{
        margin: 0;
        font-size: 0.8rem;
        padding: 0;
    }

    .fa-circle-plus{
        font-size: 1.4rem;
        margin: 4px;
    }

    #add-item{
        padding: 2px;
        width: 40px;
    }
    input[type=text]{
        margin: 0;
    }
   
   }





